.gallerySection {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.art {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    width: 20rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.DeleteBtn {
    background-color: red;
    color: white;
    border: 2px solid darkred;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
}

img {
    max-width: 18rem;
    align-self: center;
}