<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gallery.css">
    <title>Gallery - Vue</title>
        <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <header>
        <nav class="headerNav">
            <a href="index.html">Home</a>
            <a href="gallery.html">Gallery</a>
            <a href="insert.html">Insert Into Gallery</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>



    <main id="app">
        <h1>Gallery</h1>


        <article>
            <button @click="showOc">Toggle OC Art</button>
            <button @click="showFan">Toggle Fan Art</button>
            <div>
                <button @click="showMlp">Toggle MLP Art</button>
                <button @click="showMlpTS">Toggle Twilight Sparkle Art</button>
                <button @click="showMlpP">Toggle MLP Princesses Art</button>
            </div>
            <button @click="showPride">Toggle Pride Art</button>
        </article>


        <section class="gallerySection">
            <article class="galleryArticle" >
                <div v-if="showOcArt == true" v-show="showOcArt">
                    <h2>OC Artworks</h2>
                    <div class="art" v-for="ocArt in ocArt" :key="ocArt">
                        {{ ocArt }}
                    </div>
                </div>
            </article>

            <article>

                <article class="galleryArticle">
                    <div v-if="showMlpArt == true" v-show="showMlpArt">
                        <h2>MLP Artworks</h2>
                        <div class="art" v-for="mlpArt in mlpArt" :key="mlpArt">
                            {{ mlpArt }}
                        </div>
                    </div>
                </article>

                <article class="galleryArticle">
                    <div v-if="showTwilightSparkle == true" v-show="showTwilightSparkle">
                        <h2>Twilight Sparkle Artworks</h2>
                        <div class="art" v-for="twilightSparkle in twilightSparkle" :key="twilightSparkle">
                            {{ twilightSparkle }}
                        </div>
                    </div>
                </article>

                <article class="galleryArticle">
                    <div v-if="showMlpPrincesses == true" v-show="showMlpPrincesses">
                        <h2>MLP Princesses Artworks</h2>
                        <div class="art" v-for="mlpPrincess in mlpPrincesses" :key="mlpPrincess">
                            {{ mlpPrincess }}
                        </div>
                    </div>
                </article>

            </article>
 

            <article class="galleryArticle">
                <div v-if="showFanArt == true" v-show="showFanArt">
                    <h2>Fan Artworks</h2>
                    <div class="art" v-for="fanArt in fanArt" :key="fanArt">
                        {{ fanArt }}
                    </div>
                </div>
            </article>

            <article class="galleryArticle">
                <div v-if="showPrideArt == true" v-show="showPrideArt">
                    <h2>Pride Artworks</h2>
                    <div class="art" v-for="prideArt in prideGallery" :key="prideArt">
                        {{ prideArt }}
                    </div>
                </div>
            </article>
        </section>



    </main>



    <footer>

    </footer>






    <script src="/js/script.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
</body>
</html>