<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <title>Gallery - Vue</title>
        <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
        <header>
        <nav class="headerNav">
            <li><a href="index.html">Home</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="insert.html">Insert Into Gallery</a></li>
            <li><a href="contact.html">Contact</a></li>
        </nav>
    </header>



    <main id="app">
        <h1>Gallery</h1>

        <button @click="showOcArt">Toggle OC Art</button>
        <ul v-if="showOcArt">
            <li v-for="ocArt in ocArt" :key="ocArt">
                {{ ocArt }}
            </li>
        </ul>



    <button @click="showOc">Toggle OC Art</button>



      <article >
        <div v-if="showOcArt == true" v-show="showOcArt">
            <h2>OC Art</h2>
            <div v-for="ocArt in ocArt" :key="ocArt">
                {{ ocArt }}
            </div>
        </div>
        <div v-else="showLastName == false">Last Name is hidden</div>
      </article>



    </main>



    <footer>

    </footer>






    <script src="/js/script.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
</body>
</html>